@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main{
  min-height: 80vh;
  background: #000;
  display: flex;
  justify-content: space-around;
  flex-direction: row-reverse;
  position: relative;
  z-index: -1;
  .image{
    width: 40%;
    display: flex;
    justify-content:center;
    align-items: center;
    .block1{
      width: 18vw;
      height: 400px;
      background: #1DA1F2 ;
      transform: rotate(-5deg);
      border-radius: 20px;

    }
    .block2{
      width: 20vw;
      height: 60vh;
      transform: translate(-180px, 0px) rotate(8deg);
      img{
        width: 100%;
        border-radius: 20px;
      }
    }
  }
  .text{
    width: 40%;
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .info{
      min-height: 60vh;
      // background: green;
      padding: 0px 50px;
      .welcome{
        display: block;
        font-size: 3rem;
        font-weight: 100;
        color: white;
      }
      .info-in{
        font-size: 1.2rem; 
        color: #1DA1F2;
        display: block;
        .im{
          font-size: 2.5rem;
          font-weight: 900;
          color: #fff;
          padding: 20px 0 30px;
        }
        .more{
          p{
            padding: 10px 0;
            color:#fff;
            font-weight: 300;
          }
        }
      }
    }
  }
}






@media screen and (max-width: 769px){
  .main{
    width: 100vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .image{
      width: 60vw;
      .block1{
        display: none;
      }
      .block2{
        width: 100vw;
        height: auto;
        transform: translate(0px, 0px) rotate(0deg);
      }
    }
    .text{
      width: 100vw;
    }
  }
}